<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model_UI</title>
</head>
<body>
    <h1>Model</h1>
    <form method="POST">
        <label for="First_number">First Number:</label>
        <input type="number" name="First_number" id="First_number" placeholder="Enter first number" required><br><br>



        <button type="submit">Prediction</button>
    </form>

    {% if response is not none %}
        <h2>Result: {{ response }}</h2>
    {% endif %}
</body>
</html>

